<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"


    <application
        android:allowBackup="true"
        android:icon="@drawable/gem"
        android:label="@string/app_name"
        android:supportsRtl="true"

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseLangActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseUserType"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RegisterationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

		<activity
            android:name=".HelperMenu.CollectionActivity"
            android:label="@string/title_activity_collection"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".HelperMenu.ShopActivity"
            android:label="@string/title_activity_shop"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

    </application>


