<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brainwaves.gem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/gem"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseLangActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseUserType"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelperMenu.QuizActivity"
            android:label="@string/title_activity_quiz" />
        <activity
            android:name=".HelperMenu.MembershipActivity"
            android:label="@string/title_activity_membership" />
        <activity
            android:name=".HelperMenu.CollectionsActivity"
            android:label="@string/title_activity_collections" />
        <activity
            android:name=".HelperMenu.VisitDetailsActivity"
            android:label="@string/title_activity_visit" />
        <activity
            android:name=".HelperMenu.ArtifactsActivity"
            android:label="@string/title_activity_artifactsDetails" />
        <activity
            android:name=".Map"
            android:label="@string/map_activity_title" />
        <activity
            android:name=".HelperMenu.Tour"
            android:label="@string/tour_activity_title" />
        <activity
            android:name=".ShoppingSystem.ShoppingActivity"
            android:label="@string/title_activity_shop" />
        <activity
            android:name=".ShoppingSystem.ClothesActivity"
            android:label="@string/title_activity_clothes" />
        <activity
            android:name=".ShoppingSystem.ArtifactsActivity"
            android:label="@string/title_activity_artifacts" />
        <activity
            android:name=".ShoppingSystem.BooksActivity"
            android:label="@string/title_activity_books" />
        <activity android:name=".ThemeActivity" />
        <activity
            android:name=".HelperMenu.ShoppingCheckoutActivity"
            android:label="@string/title_activity_checkout" />
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".HelperMenu.shoppingDetailsActivity" />
        <activity android:name=".HelperMenu.IndividualTourActivity"></activity>
        <activity android:name=".HelperMenu.GroupTourActivity"></activity>
        <activity android:name=".HelperMenu.ViewTourActivity"></activity>

    </application>

</manifest>